<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.conservatorio" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Conservatorio del Tolima</name>
    <description>
        Aplicacion mobil para el conservatorio del tolima
    </description>
    <author email="ricardo.salcedo@gmail.com" href="http://cordova.io">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
	<preference name="DisallowOverscroll" value="true"/>
    <icon src="www/res/icon/icon.png" />
    
</widget>


