@font-face {
    font-family: FlamaCondensed;
    src: url(../Fonts/FlamaCondensed-Light.otf);
}

@font-face {
    font-family: BrandonGrotesque;
    src: url(../Fonts/Brandon_thin.otf);
}

@font-face {
    font-family: BrandonGrotesqueBold;
    src: url(../Fonts/Brandon_bld.otf);
}

@font-face {
    font-family: GothamHTF Black;
    src: url(../Fonts/Gotham-Black.otf);
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
background-color: transparent;
}

/************Landing Screen********************/

div#page1 {
	background-image: url(../img/ui-conservatorio-tolima-01.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
	
}


div#loginbar {
height: 39pt;
border: none;
}

a#login-text {
font-size: 15pt;
color: white;
font-weight: 100;
letter-spacing: 1pt;
float: left;
width: 50%;
margin-bottom: 100%;
}

a#sign-text {
font-size: 15pt;
color: white;
font-weight: 100;
letter-spacing: 1pt;
float: right;
width: 50%;
margin-bottom: 100%;
}

table {
width: 100%;
}
td {
width: 50%;
}

/**************End Landing**********************/


/************Login Screen********************/

div#page2 {
	background-image: url(../img/login.png) !important;
	background-repeat: no-repeat;
	background-size: cover;
}

img#logo {
width: 50%;
}


header {
text-align: center;
}

a#facebook {
background-image: url(../img/facebook.png) !important;
background-repeat: no-repeat;
background-position: center;
background-size: 101%;
box-sizing: border-box;
border: none;
width: 100%;
height: 37px;
border-radius: 12px;
}

.container {
      margin: auto;
      max-width: 800px;
}

#login {
      padding: 20px 5%;
    }

#login #blurb {
float: left;
font-weight: 100;
width: 100%;
font-size: 10px;
letter-spacing: 2pt;
box-sizing: border-box;
padding-right: 10px;
text-align: -webkit-center;
color: white;
}

#sepa {
font-weight: 100;
width: 100%;
font-size: 13px;
letter-spacing: 2pt;
box-sizing: border-box;
padding-right: 10px;
text-align: -webkit-center;
color: white;
margin: auto;
margin-top: 7em;

}

#login #register {
  float:right;
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 10pt;
  text-align: -webkit-center;
  text-decoration: blink;
}

#login br {
      clear: both;
    }
    
hr#logindash1 {
width: 45%;
float: left;
}
hr#logindash2 {
width: 45%;
float: right;
}

input#EMAIL {
text-align: center;
padding-top: 1em;
}

input#PASS {
text-align: center;
padding-top: 1em;
}

a#register {
text-shadow: none;
}

.ui-field-contain {
width: 100%;
height: 2.5em;
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
height: 44px;
border-radius: 12px;
}

.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
width: 13em;
margin-top: 1.5em;
background-color: #A71835;
color: white;
text-shadow: none;
border: none;
}

/************End Login********************/

/************Regitry Screen********************/

div#page10 {
	background-image: url(../img/home.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
}

form#regform {
width: 17em;
margin: 5em auto;
text-align: -webkit-center;
}

input#NOMBREREG {
text-align: center;
padding-top: 1em;
}

input#EMAILREG {
text-align: center;
padding-top: 1em;
}

input#PASSREG {
text-align: center;
padding-top: 1em;
}

input#PASSCREG {
text-align: center;
padding-top: 1em;
}

a#regpanel {
border-radius: 0px;
margin-top: 7px;
border: none;
padding-top: 11px;
height: 1.5em;
font-family: FlamaCondensed;
font-size: 8pt;
background-color: #084d0e;
color: white;
letter-spacing: 4pt;
font-weight: 100;
}

p#popuptitle {
font-family: FlamaCondensed;
font-size: 16pt;
margin-top: -8px;
color: #E6A726;
}

div#popupDialog 
{
position: relative;
width: 175px;
height: 46px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 6px;
text-align: center;
}

div#popupDialog:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 13px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -13px;
bottom: -18px;
left: 19%;
}

div#popupDialog:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 23px 18px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -18px;
bottom: -29px;
left: 19%;
}


/************End Registry********************/

/************Home Screen********************/

div#page3 {
	background-image: url(../img/home.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
}

.homer {
text-align: center;
}

a#notpanelhome {
border-radius: 0px;
margin-top: 7px;
border: none;
padding-top: 11px;
height: 1.5em;
font-family: FlamaCondensed;
font-size: 8pt;
color: white;
background-color: #084d0e;
letter-spacing: 4pt;
font-weight: 100;
}

div#homebuttons {
width: 18em;
margin: auto;
}

a#Noticias {
	background-image: url(../img/Noticiasbutton.png) !important;
	background-repeat: no-repeat;
	height: 3em;
	background-position: center;
	border: none;
}

a#Eventos {
	background-image: url(../img/Eventosbutton.png) !important;
	background-repeat: no-repeat;
	height: 3em;
	background-position: center;
	border: none;
}

a#Fotos {
	background-image: url(../img/FotosButton.png) !important;
	background-repeat: no-repeat;
	height: 3em;
	background-position: center;
	border: none;
}

.bottom {
text-align: center;
}

/************End Home********************/

/************Noticias Screen********************/

div#page5 {
	background-image: url(../img/back-noticias.png) !important;
	background-repeat: no-repeat;
	background-size: cover;
}

a#notpanel {
border-radius: 0px;
margin-top: 7px;
border: none;
padding-top: 11px;
height: 1.5em;
font-family: FlamaCondensed;
font-size: 8pt;
background-color: #C9AA69;
color: white;
letter-spacing: 4pt;
font-weight: 100;
}

div#notitle {
background-repeat: no-repeat;
height: 40px;
width: 147px;
margin: 0px auto;
margin-top: -8px;
position: relative;
}

div#titlediv {
text-align: center;
}

hr#hline {
height: 6px;
border: 0;
box-shadow: inset 0 6px 6px -6px black;
z-index: 1;
position: relative;
}



li#contents {
width: 100%;
height: 100%;
border-radius: 20px;
margin-top: -46px;
background-repeat: no-repeat;
list-style-type: none;
background-color: white;
}

hr#shad {
position: relative;
height: 12px;
border: 0;
box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

a#not-but {
background-image: url(../img/not-cloud.png);
background-repeat: no-repeat;
height: 52px;
width: 245px;
border: none;
background-color: transparent;
margin-left: 4px;
}

label.date {
font-family: BrandonGrotesqueBold;
color: rgb(154,106,10);
font-size: 0.5em;
letter-spacing: 2px;
width: 0px;
text-shadow: none;
}

img#imgnot {
width: 164px;
height: 75px;
margin-left: -32px;
border-radius: 0 21px 21px 0;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
bottom: 0;
-webkit-clip-path: polygon(45% 0, 0% 100%, 100% 100%, 100% 0);
}

span.ttl {
color: white;
font-size: 0.8em;
letter-spacing: 0px;
display: inline-block;
text-shadow: none;
text-align: left;
float: left;
font-weight: 100;
white-space: normal;
width: 106px;
height: 50px;
}



/************End Noticias Screen********************/


/************Eventos Screen********************/

div#page6 {
	background-image: url(../img/back-eventos.png) !important;
	background-repeat: no-repeat;
	background-size: cover;
}

a#evpanel {
border-radius: 0px;
margin-top: 7px;
border: none;
padding-top: 11px;
height: 1.5em;
font-family: FlamaCondensed;
font-size: 8pt;
background-color: #524976;
color: white;
letter-spacing: 4pt;
font-weight: 100;
}

div#evtitle {
background-repeat: no-repeat;
height: 40px;
width: 147px;
margin: 0px auto;
margin-top: -8px;
position: relative;
}


/************End Eventos Screen********************/

/************Bottom Menu********************/

.ui-icon-icon-main {
background-image: url(../img/nota.png);
background-repeat: no-repeat;
background-color: transparent;
}

.ui-icon-icon-not {
background-image: url(../img/trompeta.png);
background-repeat: no-repeat;
background-color: transparent;
}

.ui-icon-icon-event {
background-image: url(../img/violin.png);
background-repeat: no-repeat;
background-color: transparent;
}

.ui-icon-icon-foto {
background-image: url(../img/piano.png);
background-repeat: no-repeat;
background-color: transparent;
}

div#tabbar {
background-color: transparent;
}

ul {
list-style-type: none;
}

div#foot {
background-color: transparent;
bottom: 0;
position: absolute !important;
top: auto !important;
width: 100%;
}

a.ui-link.ui-btn {
background-color: transparent;
}

.ui-btn-icon-top:after {
background-color: transparent;
}

.ui-btn-icon-left:after {
background-color: transparent;
}

.ui-header .ui-navbar .ui-btn, .ui-footer .ui-navbar .ui-btn {
background-position: center;
}

/************End Bottom Menu********************/


